<div class="form container">
    <h2 class="text-center">Formularz TODO</h2>

    <span us-spinner spinner-on="loader" class="spinner"></span>

    <form ng-submit="addTodo()">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Co chcesz zrobić..." ng-model="form.title">
            </div>
            <div class="input-group">
                <input type="checkbox" ng-model="form.completed"> ukończono
            </div>
        </div>
        <input type="submit" class="btn button btn-success" value="Dodaj">
    </form>

    <hr>

    <h3>Lista TODO</h3>
    <ul ng-repeat="todo in todos">
        <li ng-style="todo.completed && {'text-decoration': 'line-through'}">{{ todo.title }}</li>
    </ul>
</div>